<mat-toolbar color="primary">
  <mat-toolbar-row>
    <nav class="content">
      <a
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        class="logo"
        >toolCage</a
      >
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/list">Tools</a></li>
        <!-- <li><a routerLink="/list">Loans</a></li>
          <li><a routerLink="/list">Repair</a></li>
          <li><a routerLink="/list">Installers</a></li> -->
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
